.App {
  font-family: 'Press Start 2P', cursive;
  background-image: url('https://res.cloudinary.com/radiscipio/image/upload/v1566938615/ldk7yfspcamsinxsvd1r.jpg');
  background-size: center;
  background-repeat: no-repeat;
  height: 100%;
  max-height: 75em;
}

.header {
  display: flex;
  justify-content: space-around;
  background-color: white;
  color: black;
  padding: 15px;
  font-size: 2em;
  
}

.header a{
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
}

.logo{
  height: 2em;
  width: 5em;
}

.pokedex{
  display: flex;
  justify-content: space-around;
  font-size: .5em;

}
/* .all-pokemon{
  overflow: scroll;
} */
.all-pokemon h1{
  color: white;
}

.loading{
  border: 1px solid black;
  color:white;
}
.name{
  color: white;
}